<div class="row mb-2 mb-xl-3">
  <div class="col-auto d-none d-sm-block">
    <h3><strong>Total Income</strong>: {{totalAmount}}</h3>
  </div>

  <div class="col-auto ms-auto text-end mt-n1">
    <button type="button"
    class="btn-shadow btn btn-info mr-2">
     Filter
   </button>
   <a href="/finance/income/add" class="btn btn-primary mr-2 ">Add Income</a>
   <!-- Button trigger modal -->
<button type="button" class="btn btn-secondary mr-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Edit Data
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Particular Date Data</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="date" class="form-control" [(ngModel)]="editDate" >
        Selected Date: {{editDate}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button"  class="btn btn-primary" (click)="validateEditLink(editDate)">Edit Now</button>
      </div>
    </div>
  </div>
</div>
   <!-- Button trigger modal -->
   <button type="button" class="btn btn-danger mr-2" data-bs-toggle="modal" data-bs-target="#deleteModel">
    Delete Data
  </button>

  <!-- Modal -->
  <div class="modal fade" id="deleteModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Particular Date Data</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="date" class="form-control" [(ngModel)]="deleteDate" >
          Selected Date: {{deleteDate}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button"  class="btn btn-danger"  data-bs-dismiss="modal" (click)="deleteData(deleteDate)">Delete Now</button>
        </div>
      </div>
    </div>
  </div>

  </div>
  </div>


  <app-loader class="loader-outer"  *ngIf="isLoading"></app-loader>
  <div class="row" *ngIf="!isLoading">
<div class="col-12">
    <div class="card">
      <div *ngIf="items == undefined; else listTable">
        <p><em>Loading...</em></p>
      </div>
      <ng-template #listTable>
        <div class="card-header">
            <h6 class="card-subtitle text-muted">Only current month total income is shown by default.  </h6>
        </div>
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Category</th>
                    <th class="text-end">Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of data; let i = index">
                    <td>{{item.category}}</td>
                    <td class="text-end">{{item.totalAmount}}</td>
                </tr>
                <tr>
                  <td><b>Total Amount</b></td>
                  <td class="text-end"><b>{{totalAmount}}</b></td>
                </tr>

            </tbody>
        </table>
      </ng-template>
    </div>
</div>
</div>
