<div class="mb-3">
  <h1 class="h3 d-inline align-middle">Edit Member</h1>
</div>
<form [formGroup]="editMemberForm" (ngSubmit)="onSubmit()"  class="form">
  <div class="gap-12 gap-lg-12">
    <!--begin::General options-->
    <div class="card card-flush py-4">
      <!--begin::Card header-->
      <div class="card-header">
          <h5 class="card-title">General</h5>
      </div>
      <!--end::Card header-->
      <!--begin::Card body-->
      <div class="card-body pt-0 row">
        <!--begin::Input group-->
        <div class="mb-10 fv-row fv-plugins-icon-container col-4">
          <label class="required form-label">First Name</label>
          <input type="text" formControlName="firstName" class="form-control mb-2" placeholder="First name">
          <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
            <div *ngIf="editMemberForm.get('firstName')?.invalid && (editMemberForm.get('firstName')?.dirty || editMemberForm.get('firstName')?.touched)">
              <div *ngIf="editMemberForm.get('firstName')?.errors?.required">First Name is required.</div>
            </div>
          </div>
        </div>
        <!--end::Input group-->

        <!--begin::Input group-->
        <div class="mb-10 fv-row fv-plugins-icon-container col-4">
          <label class="form-label">Middle Name</label>
          <input type="text" formControlName="middleName" class="form-control mb-2" placeholder="Middle name">
        </div>
        <!--end::Input group-->

        <!--begin::Input group-->
        <div class="mb-10 fv-row fv-plugins-icon-container col-4">
          <label class="form-label">Last Name</label>
          <input type="text" formControlName="lastName" class="form-control mb-2" placeholder="Last name">
          <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
            <div *ngIf="editMemberForm.get('lastName')?.invalid && (editMemberForm.get('lastName')?.dirty || editMemberForm.get('lastName')?.touched)">
              <div *ngIf="editMemberForm.get('lastName')?.errors?.required">Last Name is required.</div>
            </div>
          </div>
        </div>
        <!--end::Input group-->

        <!--begin::Input group-->
        <div class="mb-10 fv-row fv-plugins-icon-container col-4">
          <label class="required form-label">Email</label>
          <input type="text" formControlName="email" class="form-control mb-2" placeholder="Email">
          <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
            <div *ngIf="editMemberForm.get('email')?.invalid && (editMemberForm.get('email')?.dirty || editMemberForm.get('email')?.touched)">
              <div *ngIf="editMemberForm.get('email')?.errors?.required">Email is required.</div>
              <div *ngIf="editMemberForm.get('email')?.errors?.email">Invalid email address.</div>
            </div>
          </div>
        </div>
        <!--end::Input group-->

        <!--begin::Input group-->
        <div class="mb-10 fv-row fv-plugins-icon-container col-4">
          <label class="form-label">Phone Number</label>
          <input type="text" formControlName="phoneNumber" class="form-control mb-2" placeholder="Phone Number">
        </div>
        <!--end::Input group-->

        <!--begin::Input group-->
        <div class="mb-10 fv-row fv-plugins-icon-container col-4">
          <label class="form-label">Secondary Phone Number</label>
          <input type="text" formControlName="secondaryPhoneNumber" class="form-control mb-2" placeholder="Secondary Phone Number">
        </div>
        <!--end::Input group-->

        <!--begin::Input group-->
        <div class="mb-10 fv-row fv-plugins-icon-container col-4">
          <label class="required form-label">Birth Date</label>
          <input type="date" formControlName="birthDate" class="form-control mb-2">
          <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
            <div *ngIf="editMemberForm.get('birthDate')?.invalid && (editMemberForm.get('birthDate')?.dirty || editMemberForm.get('birthDate')?.touched)">
              <div *ngIf="editMemberForm.get('birthDate')?.errors?.required">Birth Date is required.</div>
            </div>
          </div>
        </div>
        <!--end::Input group-->

        <!--begin::Input group-->
        <div class="mb-10 fv-row fv-plugins-icon-container col-4">
          <label class="required form-label">Gender</label>
          <select formControlName="gender" class="form-select mb-2">
            <option value="">Select Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
          <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
            <div *ngIf="editMemberForm.get('gender')?.invalid && (editMemberForm.get('gender')?.dirty || editMemberForm.get('gender')?.touched)">
              <div *ngIf="editMemberForm.get('gender')?.errors?.required">Gender is required.</div>
            </div>
          </div>
        </div>
        <!--end::Input group-->

        <!--begin::Input group-->
        <div class="mb-10 fv-row fv-plugins-icon-container col-4">
          <label class="required form-label">Occupation</label>
          <input type="text" formControlName="occupation" class="form-control mb-2" placeholder="Occupation">
          <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
            <div *ngIf="editMemberForm.get('occupation')?.invalid && (editMemberForm.get('occupation')?.dirty || editMemberForm.get('occupation')?.touched)">
              <div *ngIf="editMemberForm.get('occupation')?.errors?.required">Occupation is required.</div>
            </div>
          </div>
        </div>
        <!--end::Input group-->

        <!--begin::Input group-->
        <div class="mb-10 fv-row fv-plugins-icon-container col-6">
          <label class="required form-label">Permanent Address</label>
          <input type="text" formControlName="permanentAddress" class="form-control mb-2" placeholder="Permanent Address">
          <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
            <div *ngIf="editMemberForm.get('permanentAddress')?.invalid && (editMemberForm.get('permanentAddress')?.dirty || editMemberForm.get('permanentAddress')?.touched)">
              <div *ngIf="editMemberForm.get('permanentAddress')?.errors?.required">Permanent Address is required.</div>
            </div>
          </div>
        </div>
        <!--end::Input group-->

        <!--begin::Input group-->
        <div class="mb-10 fv-row fv-plugins-icon-container col-6">
          <label class="required form-label">Temporary Address</label>
          <input type="text" formControlName="temporaryAddress" class="form-control mb-2" placeholder="Temporary Address">
          <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
            <div *ngIf="editMemberForm.get('temporaryAddress')?.invalid && (editMemberForm.get('temporaryAddress')?.dirty || editMemberForm.get('temporaryAddress')?.touched)">
              <div *ngIf="editMemberForm.get('temporaryAddress')?.errors?.required">Temporary Address is required.</div>
            </div>
          </div>
        </div>
        <!--end::Input group-->
      </div>
      <!--end::Card body-->
    </div>
    <!--end::General options-->

    <!--begin::Media-->
    <div class="card card-flush py-4">
      <div class="card-header">
          <h5 class="card-title">Member Photo</h5>
      </div>
      <div class="card-body pt-0">
        <div class="fv-row mb-2">
          <input type="file" name="image" class="form-control" />
        </div>
        <div class="text-muted fs-7">Set the member photo.</div>
      </div>
    </div>
    <!--end::Media-->

    <!--begin::Church Administration Data-->
    <div class="card card-flush py-4">
      <!--begin::Card header-->
      <div class="card-header">
          <h5 class="card-title">Church Administration Data</h5>
      </div>
      <!--end::Card header-->
      <!--begin::Card body-->
      <div class="card-body pt-0 row">
        <!--begin::Input group-->
        <div class="mb-10 fv-row fv-plugins-icon-container col-6">
          <label class="required form-label">Baptized Date</label>
          <input type="date" formControlName="baptizedDate" class="form-control mb-2">
          <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
            <div *ngIf="editMemberForm.get('baptizedDate')?.invalid && (editMemberForm.get('baptizedDate')?.dirty || editMemberForm.get('baptizedDate')?.touched)">
              <div *ngIf="editMemberForm.get('baptizedDate')?.errors?.required">Baptized Date is required.</div>
            </div>
          </div>
        </div>
        <!--end::Input group-->

        <!--begin::Input group-->
        <div class="mb-10 fv-row fv-plugins-icon-container col-6">
          <label class="form-label">Membership Date</label>
          <input type="date" formControlName="membershipDate" class="form-control mb-2">
        </div>
        <!--end::Input group-->
      </div>
      <!--end::Card body-->
    </div>
    <!--end::Church Administration Data-->

    <div class="d-flex justify-content-end">
      <button type="submit" class="btn btn-primary">
        <span class="indicator-label">
          Save Changes
        </span>
      </button>
    </div>
  </div>
</form>
